
<h1 class="justify-content-center text-center">Principais Modelos:</h1>
<div class="row row-cols-1 row-cols-md-4 g-4 justify-content-center">
  <div class="col">
    <div class="card h-100">
      <img src="/images/note13.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Redmi note 13</h5>
        <p>128gb 8gb ram</p>
        <p class="card-text">R$: 1.299,99</p>
      </div>
      <div class="card-footer">
        <a><button class="btn btn-primary">carrinho</button></a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="/images/findx6pro.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Oppo Find X6 Pro</h5>
        <p>256gb 8gb ram</p>
        <p class="card-text">2.499,99</p>
      </div>
      <div class="card-footer">
        <a><button class="btn btn-primary">carrinho</button></a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="/images/note50.jpg" class="Realm Note 50" alt="...">
      <div class="card-body">
        <h5 class="card-title">Realm note 50</h5>
        <p>128gb 4gb ram</p>
        <p class="card-text">R$: 699,99</p>
      </div>
      <div class="card-footer">
        <a><button class="btn btn-primary">carrinho</button></a>
      </div>
    </div>
  </div>
</div>