.custom-navbar {
    background-color: rgba(0, 0, 0, 0.5); /*Preto com 50% de opacidade*/
    backdrop-filter: blur(5px); /* Desfoca o conteúdo atrás da navbar */
}

.card {
    background-color: rgba(255, 255, 255, 0.11) !important; /* Fundo branco com 11% de opacidade */
    backdrop-filter: blur(5px) !important; /* Desfoca o conteúdo atrás do card */
    border: 1px solid black !important; /* Define a borda com 1px de espessura e cor preta */
    border-radius: 0.5rem !important; /* Arredonda os cantos do card */
}

.test{
    background-color: rgba(0, 0, 0, 0.5) !important; /* Fundo branco com 11% de opacidade */
    backdrop-filter: blur(5px) !important; /* Desfoca o conteúdo atrás do card */
    color: white !important;
}

.btn-transparent {
    background-color: transparent; /* Fundo transparente */
    color: rgba(255, 255, 255, 0.858) !important; /* Texto branco */
    border: 1px solid rgba(255, 255, 255, 0.555) !important; /* Borda branca para visibilidade */
    transition: background-color 0.3s ease !important; /* Transição suave para o hover */
}

.btn-transparent:hover {
    background-color: rgba(255, 255, 255, 0.2) !important; /* Fundo branco levemente opaco no hover */
    color: white !important; /* Mantém o texto branco */
}

#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #000000; /* Fundo preto */
    z-index: -1; /* Coloca o particles.js no fundo */
}

.home{
    color: white !important;
}

.display-1 {
    font-size: calc(4rem + 4vw) !important; /* Tamanho do texto adaptável */
}

.text_h{
    text-align: center;
    align-items: center;
    text-align: justify;
}

.carrinho {
    max-height: 400px; /* Limita a altura do carrinho */
    width: 250px; /* Define a largura */
    overflow-y: auto; /* Habilita rolagem quando necessário */
    border-radius: 8px; /* Bordas arredondadas */
}

.carrinhoitem {
    background-color: #000000;
    margin-bottom: 10px; /* Espaço inferior entre os itens */
    border-radius: 4%;
    padding: 10px; /* Espaço interno para os itens */
    align-items: center; /* Alinha o conteúdo verticalmente ao centro */
}

a[data-bs-toggle="dropdown"] {
    color: inherit; /* Mantém a cor original */
    padding: 0; /* Remove o preenchimento extra */
    outline: none; /* Remove o contorno azul */
    box-shadow: none; /* Remove qualquer sombra */
    text-decoration: none; /* Remove sublinhado */
}

.footer-c{
    color: white !important;
    width: 100%;
}
 

/* Ajuste para o dropdown do carrinho */
.carrinho-menu {
    position: absolute !important;
    left: -50px !important; /* Ajuste conforme necessário */
}

/* Ajuste para o dropdown do perfil/logout */
.perfil-menu {
    position: absolute !important;
    left: -25px !important; /* Ajuste conforme necessário */
}

li::marker {
    color: transparent;
}


/* Ajustes responsivos para telas menores */
@media (max-width: 768px) {
    .carrinho-menu {
        left: 0 !important;
        right: 0 !important;
    }

    .perfil-menu {
        left: 0 !important;
        right: 0 !important;
    }
}

/* count */
.qty .count {
    color: #000;
    display: inline-block;
    vertical-align: top;
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
    padding: 0 2px
    ;min-width: 35px;
    text-align: center;
}
.qty .plus {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    color: white;
    width: 30px;
    height: 30px;
    font: 30px/1 Arial,sans-serif;
    text-align: center;
    border-radius: 50%;
    }
.qty .minus {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    color: white;
    width: 30px;
    height: 30px;
    font: 30px/1 Arial,sans-serif;
    text-align: center;
    border-radius: 50%;
    background-clip: padding-box;
}
.minus:hover{
    background-color: #717fe0 !important;
}
.plus:hover{
    background-color: #717fe0 !important;
}
/*Prevent text selection*/
input{  
    border: 0;
    width: 2%;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input:disabled{
    background-color:white;
}
         